@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;1,200;1,400&display=swap');

.background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url('./assets/30.webp'); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: blur(1.3px); 
}

/* header */
.header {
    background-image: linear-gradient(to bottom, rgba(107, 104, 93, 0.8), #8e99a6);
    width: 100%;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
    position: fixed;
    flex-direction: row;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 1px;
    font-family: 'Poppins';
    font-size: 16px;
    transition: min-height 0.5s ease; 
}

/* logo */
.header .logo { 
  max-height: 160px;
  transition: height 0.5s;
}

/* navigation bar */
/* menu */
.header .nav {
  display: flex;
}
.header .nav .ul-nav {
  /* display:flex; */
  align-items: center;
}
.header .nav .ul-nav li, ul.treatments-list li, ul.promos-list li {
  border-radius: 5px;
  padding: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  margin: 5px;
  list-style: none;
}
.header .nav ul.treatments-list li, ul.promos-list li {
  background-color: #af994d;
 }
.nav ul.ul-nav {
  padding: 5px;
}
.nav ul.treatments-list.show, ul.promos-list.show {
  padding: 10px 0px 0px 0px;
}
.nav a, .ul a, .treatments-nav, .promos-convenios {
  color: #c7c7c4;
  text-decoration: none;
}
.nav a:hover, .ul a:hover, .treatments-nav span:hover, .promos-convenios span:hover {
  font-size: 18px;
  text-shadow: 2px 2px 4px #c7c7c4;
}
.header .nav .treatments-nav, .promos-convenios, .cards, .nutri, .terms, .contact  {
  position: relative;
}
.header .nav .ul-nav .treatments-nav .treatments-list, .promos-convenios .promos-list {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  border-radius: 5px;
}
.header .nav .treatments-nav .treatments-list.show, .promos-convenios .promos-list.show {
  display: block;
}
.header .nav .treatments-nav .treatments-list a, .promos-convenios .promos-list a {
  display: block;
  padding: 2px;
  background-color: #af994d; 
}

/* flecha desplegable para menu */
.header .nav .treatments-nav a .arrow-icon {
  width: 13px;
  height: 13px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 5px;
}
.header .nav .promos-convenios a .arrow-icon {
  width: 13px;
  height: 13px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 5px;
}

/* header-icons */
.header-icons {
  display: flex;
  cursor: pointer; 
}
.header-icons img {
  margin-left: 20px;
  vertical-align: middle;
}

/* WELCOME SECTION */
.welcome-section {
  margin-top: 180px;
  margin-left: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
  align-items: center;  
}
.welcome-section .clinic {
  width: 100%;
  height: 100%;
  background-color: #8e99a6;
  border-radius: 20px;
  padding: 10px;
  opacity: 0.8;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
  text-align: center;
  font-size: 15px;
}
.welcome-section .clinic b {
  color: #191919;
  font-size: 20px;
}
.welcome-section .clinic .welcome-text {
  background-color: #c7c7c4;
  border-radius: 20px;
  padding: 5px;
  text-align: center;
  color: #191919; 
}

/* parrafo */
.welcome-section .clinic {
  font-family: 'Poppins';
  font-size: 18px;
}
/* carrusel gallery */
.welcome-section .gallery-container  {
  display: flex;
  position: relative;
  justify-content: center;
  overflow: hidden;
  height: 100%;
  /* width: 90%; */
  border-radius: 20px;
  background-color: #8e99a6;
  border: solid 10px #8e99a6 ;
  opacity: 0.8;
}
.gallery-item {
  position: absolute;
  inset: 0;
  opacity: 0;
  animation: slide-show 10s infinite;
}
.gallery-item-2{
  animation-delay: 4s;
}
.gallery-item-3{
  animation-delay: 8s;
}
.gallery-item-4{
  animation-delay: 12s;
}
.gallery-item-5{
  animation-delay: 16s;
}
.gallery-item-6{
  animation-delay: 20s;
}
.gallery-item-7{
  animation-delay: 24s;
}
.gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  align-items: flex-start;
}

  /* titulos y secciones */
.title {
  font-family: 'Poppins';
  background-image: linear-gradient(to bottom, rgba(107, 104, 93, 0.8), #8e99a6);
  color: #c7c7c4;
  text-align: center;
  font-size: 25px;
  padding: 10px;
  margin: 50px 0;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}


/* body - container treatments */
.treatments {
  margin-top: 20px; 
}

.treatments .content-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  margin-top: 50px;
  padding: 10px;
}
.treatments .treatment-item {
  position:  relative;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 50px;
}
.treatments .treatment-item img {
  width: 100%;
  display: block;
  margin: 5px auto;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4); 
}

/* buttons */
.treatments .treatment-buttons {
  background-color: #af994d;
  position: absolute;
  bottom: -35px;
  left: 0;
  right: 0;
  padding: 5px;
  text-align: center;
  transition: background-color 1s ease;
  border-radius: 10px;
}
.treatments .treatment-buttons-two {
  position: absolute;
  bottom: -73px;
  left: 0;
  right: 0;
  background-color: #af994d;
  padding: 5px;
  text-align: center;
  transition: background-color 1s ease;
  border-radius: 10px;
}
.treatments .treatment-buttons a, .treatment-buttons-two a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-family: 'Poppins';
  font-size: 18px;
}
.treatments .treatment-buttons:hover, .treatment-buttons-two:hover {
  background-color: #c7c7c4;
}

/* footer */
.contact-information{
    font-family: 'Poppins';
    background-image: linear-gradient(to top, rgba(107, 104, 93, 0.8), #8e99a6);
    padding: 10px 0 50px 0;
    border-radius: 10px;
    color: #EFEEEE;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}
.contact-information .content-section{
    /* max-width: 100%; */
    margin: auto;
    padding: 5 10px;
}
.contact-information .content-section h3{
    text-transform: uppercase;
    font-size: 18px;
    text-decoration: none;
}
.contact-information .content-section .row{
    display: flex;
    justify-content: space-around;
}
.contact-information .content-section .row .col{
    margin-top: 20px;
}
.contact-information .content-section .row .col h2{
    color: rgba(19, 18, 18, 0.849);
    text-decoration: none;
}
.contact-information .content-section .row .col .i {
    cursor: pointer;
}

/* responsive */
/* hamburguer menu - bigger than 1201 px screens */
@media screen and (min-width: 1201px) {
  .header .nav {
    justify-content: center;
 } 
  .header .nav .menu-icon {
    display: none;
  }
  .header .nav .ul-nav {
    display: flex;
  }  
}
/* small or equal screens than 1200px */
@media screen and (max-width: 1200px) { 
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header .logo {
    margin-left: 15px;
  }
  .header .nav .ul-nav {
    display: none;
    align-items:flex-start;
    flex-direction: column; 
    border-radius: 10px;
    font-size: medium;
    position: absolute;
    top: 80%;
  }
  .header .nav .ul-nav.show {
    display: flex;
  }
  .header .nav .ul-nav .treatments-nav, .cards, .nutri, .promos-convenios, .terms, .contact {
    position: relative;
    margin: 2px;
    background-color: #af994d;    
  }
  .header .nav .treatments-nav.show .treatments-list, .promos-convenios .promos-list.show {
    display: block;
  }
  .treatments-nav .treatments-list, .promos-convenios .promos-list {
    z-index: 999;
    background-color: #c7c7c4; 
    border-radius: 10px;
  }
  .header .nav .menu-icon {
    display: flex;
    align-items: center;
    opacity: 0.9;
    z-index: 9999;
    cursor: pointer;
    color: #EFEEEE;
  }
  .header .nav .menu-icon svg {
    background-color: #c7c7c4; 
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
    width: 40px;
  }
  .header .nav a:hover {
    font-size: 18px;
    text-shadow: 2px 2px 4px #c7c7c4;
  } 
  .treatments .treatment-buttons a, .treatment-buttons-two a {
    font-size: medium;
  }
  .treatments .treatment-buttons {
    bottom: -42px;
  }
  .treatments .treatment-buttons-two {
    bottom: -90px;
  }
  .title {
    margin: 40px 0px;
  }

}
/* reduccion de tamaño y alineado en pantallas menores a 370px */
@media screen and (max-width: 370px) {
  .header .header-icons img {
    width: 20px;
    height: 20px;
  }
  .header .nav .menu-icon svg {
    width: 30px;
    height: 30px;
  }
}

/* grid img */
@media (max-width: 1024px) {
  .treatments .content-section {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {   .treatments .content-section {
      grid-template-columns: 2fr;
    }
}
@media (max-width: 500px) {   .treatments .content-section {
      grid-template-columns: 1fr;
    }
}

  /* footer */
@media screen and (max-width:800px){ .contact-information .content-section .row{
    display: block;
    }
}
 /* welcome-section  */
@media screen and (max-width:700px){
.welcome-section .gallery-container {   
  display: none;
}
.welcome-section {   
  /* display:contents; */
  grid-template-columns: none;
  justify-content: center;
  align-items: center;
  width: 93%;
  }
}

/* animacion de gallery */
@keyframes slide-show {
  0% {
opacity: 0;
  }
  100% {
    opacity: 1;
  }
  20%, 30% {
    opacity: 1;
    scale: 1.05;
  }
  50% {
    opacity: 1;
  }
}