@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;1,200;1,400&display=swap');

.background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url('./assets/30.webp'); 
  filter: brightness(82%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* header */
.header {
    background-image: linear-gradient(to bottom, rgba(107, 104, 93, 0.8), #8e99a6);
    width: 100%;
    height: 140px;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
    position: fixed;
    flex-direction: row;
    top: 0;
    left: 0;
    z-index: 999;
    padding: 1px;
    font-family: 'Poppins';
    font-size: 16px;
    transition: min-height 0.5s ease; 
}

/* logo */
.header .logo { 
  max-height: 160px;
  transition: height 0.5s;
}

/* navigation bar */
/* menu */
.header .nav {
  display: flex;
}
.header .nav .ul-nav {
  /* display:flex; */
  align-items: center;
}
.header .nav .ul-nav li, ul.treatments-list li {
  border-radius: 5px;
  padding: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  margin: 5px;
  list-style: none;
}
.header .nav ul.treatments-list li {
  background-color: #af994d;
 }
.nav ul.ul-nav {
  padding: 5px;
}
.nav ul.treatments-list.show {
  padding: 10px 0px 0px 0px;
}
.nav a, .ul a, .treatments-nav {
  color: #c7c7c4;
  text-decoration: none;
}
.nav a:hover, .ul a:hover, .treatments-nav span:hover {
  font-size: 18px;
  text-shadow: 2px 2px 4px #c7c7c4;
}
.header .nav .treatments-nav, .promos, .cards, .agenda, .nutri, .terms, .contact  {
  position: relative;
}
.header .nav .ul-nav .treatments-nav .treatments-list {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  border-radius: 5px;
}
.header .nav .treatments-nav .treatments-list.show {
  display: block;
}
.header .nav .treatments-nav .treatments-list a {
  display: block;
  padding: 2px;
  background-color: #af994d; 
}

/* flecha desplegable para menu */
.header .nav .arrow-icon   {
  width: 13px;
  height: 13px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 5px;
}

/* header-icons */
.header-icons {
  display: flex;
  cursor: pointer;
  margin-right: 10px; 
}
.header-icons img {
  margin-left: 20px;
  vertical-align: middle;
  width: 32px;
  height: 32px;
}

/* WELCOME SECTION */
/* * {
  margin: 0px;
  padding: 0px;
} */
body {
  font-family: "Poppins";
}
.clear {
  clear: both;
}
a {
  text-decoration: none;
  color: inherit;
  outline: none;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}
a:focus,
a:active,
a:visited,
a:hover {
  text-decoration: none;
  outline: none;
}
a:hover {
  color: #c7c7c4;
}
.line-title {
  margin-bottom: 20px;
  padding-bottom: 16px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  position: relative;
  color: #4b3d0c;
  text-shadow: 2px 2px 4px #c7c7c4;
}
.card-title {
  margin: 0 0 10px;
  font-size: 23px;
  line-height: 36px;
  font-weight: 500;
}
button {
  outline: none !important;
}

/* -------- title style ------- */
.line-title {
  position: relative;
  width: 400px;
}
.line-title::before,
.line-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  border-radius: 2px;
}
.line-title::before {
  width: 100%;
  background: #c7c7c4;
}
.line-title::after {
  width: 90%;
  background: #af994d;
}

/* -------- Landing page ------- */
.welcome-section {
  padding: 20px 20px;
  margin-top: 120px; 
  width: 95%;
}
.welcome-section .owl-stage {
  margin: 15px 0;
  display: flex;
  display: -webkit-flex;
}
.welcome-section .item {
  margin: 0 15px 40px;
  width: 330px;
  height: 380px;
  display: flex;
  display: -webkit-flex;
  align-items: flex-end;
  -webkit-align-items: flex-end;
  background: #af994d no-repeat center center / cover;
  filter: brightness(170%);
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  cursor: pointer;
}
.welcome-section .item.active {
  width: 450px;
  box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
}
.welcome-section .item:after {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}
.welcome-section .item-desc {
  padding: 0 24px 12px;
  color: #c7c7c4;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transform: translateY(calc(100% - 54px));
  -webkit-transform: translateY(calc(100% - 54px));
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}
.welcome-section .item.active .item-desc {
  transform: none;
  -webkit-transform: none;
}
.welcome-section .item-desc .card-title{
  font-size: 20px;

}
.welcome-section .item-desc .card-text {
  font-size: medium;
  opacity: 0;
  -webkit-transform: translateY(32px);
  transform: translateY(32px);
  transition: all 0.4s ease-in-out 0.2s;
  -webkit-transition: all 0.4s ease-in-out 0.2s;
}
.welcome-section .item.active .item-desc .card-text {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.welcome-section .owl-theme .custom-carousel .owl-dots {
  margin-top: -20px;
  position: relative;
  z-index: 5;
}

  /* titulos y secciones */
.title {
  font-family: 'Poppins';
  background-image: linear-gradient(to bottom, rgba(107, 104, 93, 0.8), #8e99a6);
  color: #c7c7c4;
  text-align: center;
  font-size: 25px;
  padding: 10px;
  margin: 50px 0;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}
/* free evaluation pop up */
.free-evaluation {
  font-family: "Poppins";
  width: 400px;
  margin: 0 auto;
  display:flex;
  padding: 10px;
  align-items:center;
  height:100px;
}
.Click-here {
  cursor: pointer;
  background-image: linear-gradient(to bottom, rgba(107, 104, 93, 0.8), #8e99a6);;
  color: #efeeee;
  width: auto;
  text-align: justify;
  font-size:20px;
  padding: 20px 20px;
  border-radius: 10px;
  /* text-transform: uppercase; */
  margin: 0 auto;
  transition:background-image 3s ease-in-out;
}
.logo-pop{
  padding: 20px 20px;
  width: 300px;
  align-items: center;
  margin-left: 100px;
}
.pop-up-content-wrap h1, .title-pop{
  font-size: 18px;
  text-align: center;
  padding: 10px;
}
.time{
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}
.Click-here:hover{
  transition:background-image 3s ease-in-out;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));;
}
.custom-model-main {
  text-align: center;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; /* z-index: 1050; */
  -webkit-overflow-scrolling: touch;
  outline: 0;
  opacity: 0;
  -webkit-transition: opacity 0.15s linear, z-index 0.15;
  -o-transition: opacity 0.15s linear, z-index 0.15;
  transition: opacity 0.15s linear, z-index 0.15;
  z-index: -1;
  overflow-x: hidden;
  overflow-y: auto;
}

.model-open {
  z-index: 99999;
  opacity: 1;
  overflow: hidden;
}
.custom-model-inner {
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  -o-transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  display: inline-block;
  vertical-align: middle;
  width: 600px;
  margin: 30px auto;
  max-width: 97%;
}
.custom-model-wrap {
  display: block;
  width: 100%;
  position: relative;
  background-color: #fff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  outline: 0;
  text-align: left;
  padding: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-height: calc(100vh - 70px);
	overflow-y: auto;
}
.model-open .custom-model-inner {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  position: relative;
  z-index: 999;
}
.model-open .bg-overlay {
  background: rgba(0, 0, 0, 0.6);
  z-index: 99;
}
.bg-overlay {
  background: rgba(0, 0, 0, 0);
  height: 100vh;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  -webkit-transition: background 0.15s linear;
  -o-transition: background 0.15s linear;
  transition: background 0.15s linear;
}
.close-btn {
  position: absolute;
  right: 0;
  top: -30px;
  cursor: pointer;
  z-index: 99;
  font-size: 30px;
  color: #fff;
}
/* resposive free evaluation */
@media screen and (min-width:800px){
	.custom-model-main:before {
	  content: "";
	  display: inline-block;
	  height: auto;
	  vertical-align: middle;
	  margin-right: -0px;
	  height: 100%;
	}
}
@media screen and (max-width:799px){
  .custom-model-inner{
    margin-top: 45px;
  }
}

/* body - container treatments */
.treatments {
  margin-top: 20px; 
}

.treatments .content-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  margin-top: 50px;
  padding: 10px;
}
.treatments .treatment-item {
  position:  relative;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 50px;
}
.treatments .treatment-item img {
  width: 100%;
  height: auto;
  display: block;
  margin: 5px auto;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4); 
}

/* buttons */
.treatments .treatment-buttons {
  background-color: #3f3b3b;
  position: absolute;
  bottom: -35px;
  left: 0;
  right: 0;
  padding: 5px;
  text-align: center;
  transition: background-color 1s ease;
  border-radius: 10px;
}
.treatments .treatment-buttons-two {
  position: absolute;
  bottom: -73px;
  left: 0;
  right: 0;
  background-color: #3f3b3b;
  padding: 5px;
  text-align: center;
  transition: background-color 1s ease;
  border-radius: 10px;
}
.treatments .treatment-buttons a, .treatment-buttons-two a {
  display: block;
  width: 100%;
  color: white;
  text-decoration: none;
  font-weight: 400;
  font-family: 'Poppins';
  font-size: 18px;
}
.treatments .treatment-buttons:hover, .treatment-buttons-two:hover {
  background-color: #c7c7c4;
}

/* footer */
.contact-information{
    font-family: 'Poppins';
    background-image: linear-gradient(to top, rgba(107, 104, 93, 0.8), #8e99a6);
    padding: 10px 0 50px 0;
    border-radius: 10px;
    color: #EFEEEE;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}
.contact-information .content-section{
    /* max-width: 100%; */
    margin: auto;
    padding: 5 10px;
}
.contact-information .content-section h3{
    text-transform: uppercase;
    font-size: 18px;
    text-decoration: none;
}
.contact-information .content-section .row{
    display: flex;
    justify-content: space-around;
}
.contact-information .content-section .row .col{
    margin-top: 20px;
}
.contact-information .content-section .row .col h2{
    color: rgba(19, 18, 18, 0.849);
    text-decoration: none;
}
.contact-information .content-section .row .col .i {
    cursor: pointer;
}

/* responsive */
/* hamburguer menu - bigger than 1201 px screens */
@media screen and (min-width: 1201px) {
  .header .nav {
    justify-content: center;
 } 
  .header .nav .menu-icon {
    display: none;
  }
  .header .nav .ul-nav {
    display: flex;
  }  
}
/* small or equal screens than 1200px */
@media screen and (max-width: 1200px) { 
  .header {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
  }
  .header .logo {
    margin-left: 15px;
  }
  .header .nav .ul-nav {
    display: none;
    align-items:flex-start;
    flex-direction: column; 
    border-radius: 10px;
    font-size: medium;
    position: absolute;
    top: 80%;
  }
  .header .nav .ul-nav.show {
    display: flex;
  }
  .header .nav .ul-nav .treatments-nav, .cards, .agenda, .nutri, .promos, .terms, .contact {
    position: relative;
    margin: 2px;
    background-color: #af994d;    
  }
  .header .nav .ul-nav .treatments-nav.show .treatments-list.show {
    display: block;
  }
  .ul-nav .treatments-nav .treatments-list {
    z-index: 999;
    background-color: #c7c7c4; 
    justify-content: center;
  }
  .header .nav .menu-icon {
    display: flex;
    align-items: center;
    opacity: 0.9;
    z-index: 9999;
    cursor: pointer;
    color: #EFEEEE;
  }
  .header .nav .menu-icon svg {
    background-color: #c7c7c4; 
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
    width: 40px;
  }
  .header .nav a:hover {
    font-size: 18px;
    text-shadow: 2px 2px 4px #c7c7c4;
  } 
  .treatments .treatment-buttons a, .treatment-buttons-two a {
    font-size: medium;
  }
  .treatments .treatment-buttons {
    bottom: -42px;
  }
  .treatments .treatment-buttons-two {
    bottom: -90px;
  }
  .title {
    margin: 40px 0px;
    width: 98%;
  }

}
/* reduccion de tamaño y alineado en pantallas menores a 370px */
@media screen and (max-width: 370px) {
  .header {
    width: 95%;
    margin-right: 10px;
  }

  .header .header-icons img {
    width: 20px;
    height: 20px;
  }
  .header .nav .menu-icon svg {
    width: 30px;
    height: 30px;
  }
}

/* grid img */
@media (max-width: 1024px) {
  .treatments .content-section {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .treatments .content-section {
      grid-template-columns: 2fr;
      width: 100%;
  }
  .header-icons img {
    width: 25px;
    height: 25px;
  }
}
@media (max-width: 500px) {   
  .treatments .content-section {
      grid-template-columns: 1fr;
    }
}

  /* footer */
@media screen and (max-width:800px){ 
  .contact-information .content-section .row{
    display: block;
    }
}

/* animacion de gallery */
@keyframes slide-show {
  0% {
opacity: 0;
  }
  100% {
    opacity: 1;
  }
  20%, 30% {
    opacity: 1;
    scale: 1.05;
  }
  50% {
    opacity: 1;
  }
}

/***** responsive Carousel ******/

@media (min-width: 992px) and (max-width: 1199px) {
  .welcome-section .line-title {
    margin-bottom: 32px;
  }
  .welcome-section .owl-carousel .card-title {
    margin: 0 0 8px;
    font-size: 18px;
    line-height: 32px;
  }

  /* -------- Landing page ------- */
  .welcome-section {
    padding: 50px 30px;
  }
  .welcome-section .item {
    margin: 0 12px 60px;
    width: 260px;
    height: 360px;
  }
  .welcome-section .item.active {
    width: 400px;
  }
  .welcome-section .item-desc {
    transform: translateY(calc(100% - 46px));
    -webkit-transform: translateY(calc(100% - 46px));
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .welcome-section .line-title {
    margin-bottom: 32px;
    width: 330px;
  }
  .welcome-section .owl-carousel .card-title{
    font-size: medium;
  }
  .welcome-section .owl-carousel .card-text {
    margin: 0 0 8px;
    font-size: medium;
  }

  /* -------- Landing page ------- */
  .welcome-section {
    padding: 50px 30px 40px;
  }
  .welcome-section .item {
    margin: 0 12px 60px;
    width: 240px;
    height: 330px;
  }
  .welcome-section .item.active {
    width: 360px;
  }
  .welcome-section .item-desc {
    transform: translateY(calc(100% - 42px));
    -webkit-transform: translateY(calc(100% - 42px));
  }
}

@media (max-width: 767px) {
  body {
    font-size: 14px;
  }
  .welcome-section .line-title {
    margin-bottom: 20px;
    width: 250px;
  }
  .welcome-section .owl-carousel .card-title {
    margin: 0 0 8px;
    font-size: small;
  }
  .welcome-section .owl-carousel .card-text {
    font-size: smaller;
  }

  /* -------- Landing page ------- */
  .welcome-section {
    padding: 20px 0px 20px 0px;
  }
  .welcome-section .item {
    margin: 0 10px 40px;
    width: 200px;
    height: 280px;
  }
  .welcome-section .item.active {
    width: 270px;
    box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.25);
  }
  .welcome-section .item-desc {
    padding: 0 14px 5px;
    transform: translateY(calc(100% - 42px));
    -webkit-transform: translateY(calc(100% - 42px));
  }
}
